.currency-reserves
  .d-flex.align-items-center.mb-2.position-relative
    h2.my-0 Мои операции
  form(action='#')
    .form-group
      input(type='search', required='').form-control
      span.form-underline
      label Дата, id, сумма, валюта
      button.search-btn
    .operations-date
      | 30 мая 2017
      .reload-date
  .operations-list
    .operations-item
      