.tab-pane:not(.item-tabs) {
  width: 320px;
  height: calc(100vh - 51px);
  overflow: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  h2:not(.sidebar-title) {
    margin: 8px 18px 13px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color_default;
  }
}

.accordion {
  .card {
    border: none;
    border-top: 1px solid rgba($color_default, .2);
    border-bottom: 1px solid rgba($color_default, .2);
    border-radius: 0;
    background: $color_floral_white;
    &-header {
      border: none;
      border-radius: 0;
      background: $color_floral_white;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 20px;
      min-height: auto;
      background: rgba(#fff, .5);
      font-size: 20px;
      line-height: 29px;
      color: $color_default;
      font-weight: 700;
      span {
        border-bottom: 1px dashed transparent;
      }
      &::after {
        content: '';
        border: 1px solid $color_default;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/svg/arrow.svg') no-repeat center;
        background-size: 12px;
        flex: 0 0 auto;
        text-align: center;
        margin-left: auto;
        transition: .3s;
      }
      &.collapsed{
        background: $color_floral_white;
        &::after {
          opacity: .5;
          transform: rotate(180deg);
        }
        span {
          border-bottom: 1px dashed rgba($color_default, .5);
        }
      }
    }
  }
}