//input {
//  position: absolute;
//  opacity: 0;
//  z-index: -1;
//}

//.tabs {
//  overflow: hidden;
//}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba($color_default, .2);
    &:hover {
      background: darken(#2c3e50, 10%);
    }
    &::after {
      content: "";
      mask: url("../img/svg/arrow.svg") no-repeat center;
      mask-size: contain;
      width: 7px;
      height: 12px;
      text-align: center;
      transition: all .35s;
      background: $color_default;
    }
  }
}

// :checked
//input:checked {
//  + .tab-label {
//    background: darken(#2c3e50, 10%);
//    &::after {
//      transform: rotate(90deg);
//    }
//  }
//  ~ .tab-content {
//    max-height: 100%;
//    padding: 1em;
//  }
//}

.contact-messangers {
  background: #fff9f2;
}