.jq-selectbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  z-index: 10;
  &:focus {
    outline: none;
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  li {
    user-select: none;
    white-space: nowrap;
  }
  &__select {
    position: relative;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 2px solid $color_default;
    font-size: 18px;
    line-height: 24px;
    color: $color_default;
    background: transparent;
    display: flex;
    align-items: center;
    &-text {
      overflow: hidden;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      padding-left: 10px;
    }
  }
  &__dropdown {
    position: absolute;
    ul {
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      list-style: none;
      -webkit-overflow-scrolling: touch;
    }
  }
  .placeholder {
    color: rgba($color_default, .3);
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 13px 10px;
      color: $color_default;
      font-size: 18px;
      line-height: 24px;
      &.selected {
        background-color: #CCE9FE;
      }
      &:hover {
        background-color: #E8F4FC;
      }
    }
  }
}

.jq-selectbox {
  &.focused, &.focused.changed {
    background: #ffffff;
  }
  &.opened {
    .jq-selectbox__select {
      border-bottom-width: 3px;
    }
    .jq-selectbox__trigger-arrow {
      transform: none;
    }
  }
  &.changed {
    background: rgba(#fff, .5);
  }
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  &-arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 15px;
    height: 10px;
    mask: url('../img/svg/arrow.svg') no-repeat center;
    mask-size: contain;
    background: $color_default;
    transition: .3s;
    transform: rotate(180deg);
  }
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  background: #2fab6b;
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  background: #FFF;
  font-size: 18px;
  line-height: 24px;
  color: $color_default;
  max-height: 280px;
  overflow: auto;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
