.reload-date {
  width: 25px;
  height: 25px;
  mask: url('../img/svg/refresh-ico.svg') no-repeat center;
  mask-size: contain;
  background: $color_default;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background: #2fab6b;
  }
  &:focus {
    outline: none;
  }
}

.operations {
  &-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 15px;
  }
  &-item {
    padding: 10px 20px;
    color: $color_default;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #fff;
    &__monetary-information {
      display: flex;
      align-items: baseline;
      .currency {
        font-family: 'Times New Roman', sans-serif;
        margin-left: auto;
        min-width: 35px;
      }
    }
    &__body {
      display: none;
      .operation-status {
        //font-weight: 700;
        //color: #a87d34;
        padding: 5px 0;
      }
      .update-status {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;
        &::before {
          content: '';
          width: 17px;
          height: 17px;
          mask: url('../img/svg/refresh-ico.svg') no-repeat center;
          mask-size: contain;
          background: $color_default;
        }
        span {
          border-bottom: 1px dashed;
        }
        &:hover {
          color: #2fab6b;
          &::before {
            background: #2fab6b;
          }
        }
      }
    }
    &.active {
      .show-more-info {
        transform: rotate(180deg);
      }
      .operations-item__body {
        display: block;
      }
    }
    .operation-footer {
      a {
        color: $color_default;
        text-decoration: underline;
        transition: .3s;
        &:hover {
          color: #2fab6b;
        }
        &:nth-child(1) {
          margin-right: 15px;
        }
      }
    }
  }
  &-status {
    &-items {
      display: flex;
      .show-more-info {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color_default;
        opacity: .5;
        position: relative;
        cursor: pointer;
        transition: .3s;
        margin-left: auto;
        &::after {
          content: '';
          mask: url('../img/svg/arrow.svg') no-repeat center;
          width: 15px;
          height: 10px;
          background: $color_default;
          transform: rotate(180deg);
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      line-height: 24px;
      font-family: 'Times New Roman', sans-serif;
    }
  }
  &-currency {
    display: flex;
    .currency_logo {
      margin-right: 5px;
      width: 36px;
      height: 36px;
      img {
        width: 100%;
      }
    }
  }
}
.application-status {
  flex: 0 0 50%;
  padding-right: 25px;
}
.completed-operations {
  background: rgba(#D9FDD2, .9);
}

.waiting-operations {
  background: rgba(#FFF8C0, .9);
}