.currency-reserves
  h2.sidebar-title Резервы валют
  form(action='')
    .form-group
      input(type='search', required='').form-control
      span.form-underline
      label Поиск по названию валюты
      button(class='search-btn')