extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center
      a.back-link(href='#')
      h2.sidebar-title Новости

    .news-list
      .news-list__item
        .news-list__item--date 17 мая 2017
        a(href='#').news-list__item--link Добавили переводы в Райффайзен банк.
      .news-list__item
        .news-list__item--date 16 мая 2017
        a(href='#').news-list__item--link Открылись Skype и Telegram аккаунты. Операторы работают круглосуточно и без выходных.
      .news-list__item
        .news-list__item--date 16 мая 2017
        a(href='#').news-list__item--link Новое направление - Сбербанк.
      .news-list__item
        .news-list__item--date 17 мая 2017
        a(href='#').news-list__item--link Акция! Умножаем партнерский процент в декабре на 2!
      .news-list__item
        .news-list__item--date 17 мая 2017
        a(href='#').news-list__item--link Существенно увеличили резервы Бикойнов, Qiwi, Advanced Cash.
      .news-list__item
        .news-list__item--date 17 мая 2017
        a(href='#').news-list__item--link Делаем 10% скидку на обмен за 2х привлеченных активных пользователей!
      .news-list__item
        .news-list__item--date 17 мая 2017
        a(href='#').news-list__item--link Открылось новое направление Альфабанк. Узнать детали.