extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2
      a.back-link(href='#')
      h2.sidebar-title Личная информация
    form(action='#').personal-info
      p Используется при заполнении заявок
      .form-group
        input(type='text', required='' disabled='disabled' value='azaza').form-control
        span.form-underline
        label Логин:
        .change-info
      .form-group
        input(type='text', required='' disabled='disabled' value='azaza@mail.ru').form-control
        span.form-underline
        label Email:
        .change-info
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Имя:
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Фамилия:
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Отчество:
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Паспорт:
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Номер:
      .form-group
        input(type='text', required='').form-control
        span.form-underline
        label Skype:
      button.send-btn Сохранить