extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2
      a.back-link(href='#')
      h2.sidebar-title Настройки безопасности
