.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  .logo {
    margin: 8px 20px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: $color_default;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    span {
      margin-left: 9px;
      @include adapt_to('phone'){
        display: none;
      }
    }
  }
  &-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    @include adapt_to('phone'){
      .nav {
        justify-content: flex-end;
      }
    }
    &.active {
      background: $color_floral_white;
    }
    &__link {
      margin: 8px 15px 10px;
      display: flex;
      position: relative;
      width: 34px;
      height: 33px;
      align-items: center;
      justify-content: center;
      &:hover .icons, &.active:hover .icons {
        background: rgba($color_default, .7);
      }
      &.active .icons {
        background: #2FAB6B;
      }
      .notification {
        position: absolute;
        top: -6px;
        right: -6px;
        border-radius: 50%;
        min-width: 18px;
        flex: 0 0 auto;
        padding: 2px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2fab6b;
        color: #ffffff;
        font-size: 14px;
        line-height: 14px;
      }
      @include adapt_to('phone'){
        margin-left: 5px;
        margin-right: 15px;
      }
    }
    &__tabs {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
    .icons {
      mask-size: contain;
      background: $color_default;
      transition: .3s;
    }
    .menu-info {
      width: 34px;
      height: 30px;
      mask: url("../img/svg/menu-info.svg") no-repeat center;
    }
    .menu-icons {
      width: 30px;
      height: 33px;
      mask: url("../img/svg/menu-icons.svg") no-repeat center;
    }
    .menu-payments {
      width: 32px;
      height: 27px;
      mask: url("../img/svg/menu-payments.svg") no-repeat center;
    }
    .menu-settings-info {
      width: 30px;
      height: 30px;
      mask: url("../img/svg/menu-settings-info.svg") no-repeat center;
    }
    .menu-icons-burger {
      width: 29px;
      height: 24px;
      mask: url("../img/svg/menu-icons-burger.svg") no-repeat center;
    }
  }
}

.slick-slide {
  width: 770px;
}