header
  a(href='/').logo
    img(src='/img/svg/')
    span exal.money
  .header-menu
    .header-menu__top
      .header-menu__item
        input#tab1.input-tabPresupuestoMensual(type='radio', name='tabs', checked='')
        label.label-tabPresupuestoMensual(for='tab1') 2014
      .header-menu__item
        input#tab2.input-tabPresupuestoMensual(type='radio', name='tabs')
        label.label-tabPresupuestoMensual(for='tab2') 2015
      .header-menu__item
        input#tab3.input-tabPresupuestoMensual(type='radio', name='tabs')
        label.label-tabPresupuestoMensual(for='tab3') 2016
      .header-menu__item
        input#tab4.input-tabPresupuestoMensual(type='radio', name='tabs')
        label.label-tabPresupuestoMensual(for='tab4') 2015
      .header-menu__item
        input#tab5.input-tabPresupuestoMensual(type='radio', name='tabs')
        label.label-tabPresupuestoMensual(for='tab5') 2016
