header.header
  a(href='/').logo
    img(src='/img/svg/logo.svg' alt='')
    span exal.money
  .header-menu
    ul.nav(role='tablist')
      li
        a#contacts-tab.header-menu__link(data-toggle='tab', href='#contacts', role='tab', aria-controls='contacts', aria-selected='true')
          .icons.menu-info
          .notification 2
      li
        a#my-operations-tab.header-menu__link(data-toggle='tab', href='#my-operations', role='tab', aria-controls='my-operations', aria-selected='false')
          .icons.menu-icons
      li
        a#accounts-list-tab.header-menu__link(data-toggle='tab', href='#accounts-list', role='tab', aria-controls='accounts-list', aria-selected='false')
          .icons.menu-payments
      li
        a#user-info-tab.header-menu__link(data-toggle='tab', href='#user-info', role='tab', aria-controls='user-info', aria-selected='false')
          .icons.menu-settings-info
      li
        a#links-tab.header-menu__link(data-toggle='tab', href='#links', role='tab', aria-controls='links', aria-selected='false')
          .icons.menu-icons-burger
    #nav-tabContent.tab-content
      #contacts.tab-pane.fade(role='tabpanel', aria-labelledby='contacts-tab')
        h2 Контакты
        #contacts-info.accordion
          .card
            #headingOne.card-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              | Мессенджеры
            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#contacts-info')
              include ../components/messengers
          .card
            #headingTwo.card-header.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | Форма обратной связи
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#contacts-info')
              include ../components/contact-form
          .card
            #headingThree.card-header.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | Адрес и реквизиты
            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#contacts-info')
              include ../components/contact-address
      #my-operations.tab-pane.fade(role='tabpanel', aria-labelledby='my-operations-tab')
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      #accounts-list.tab-pane.fade(role='tabpanel', aria-labelledby='accounts-list-tab')
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      #user-info.tab-pane.fade(role='tabpanel', aria-labelledby='user-info-tab')
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      #links.tab-pane.fade(role='tabpanel', aria-labelledby='links-tab')
        .d-flex.flex-column.justify-content-between.menu-height
          ul.links-list
            li
              a(href='#') Обмен
            li
              a(href='#') Резервы валют
            li
              a(href='#') Новости
            li
              a(href='#') О сервисе
            li
              a(href='#') Партнерская программа
          .partners-info
            .partners-info__title Партнерская ссылка:
            form(action='')
              .partners-info__copy
                input(type='text' disabled='disabled' value='Exall.money/thanksazaza').form-control
                button.copy-btn
              .partners-info__description получайте 10-30% от прибыли с переводов.
                a(href='#') Подробнее