html, body {
  overflow: auto;
}

.acf_div_title,
.log_div_title,
.reg_div_title,
.log_line_subm_right,
.reg_line_subm_right,
.userwallets_form_title,
.userxchtable_title,
.xtl_ico_wrap,
.hexch_message_wrap {
  display: none;
}

textarea {
  resize: none;
}

.acf_div {
  background: transparent;
}

.form_field_label label {
  margin-bottom: 0;
}

.resulttrue, .resultfalse, .exch_error {
  border-radius: 0;
  color: #fff;
  font: normal 18px Helvetica, sans-serif;
  text-align: center;
  padding: 15px 10px;
  position: fixed;
  bottom: 20px;
  margin: 0 20px;
  right: 0;
  z-index: 1;
  width: 280px;
}

.resultfalse, .exch_error {
  background: rgba(255, 34, 34, .8);
}

.resulttrue {
  background: rgba(#1DB265, .8);
}

.log_submit, .reg_submit,
.userwallets_one_tab input[type="submit"],
.cf_submit,
.hexch_submit,
.rb_submit {
  @extend .default-btn;
}

.log_line_subm_left,
.reg_line_subm_left {
  float: none;
  width: 100%;
}

.captcha_body {
  display: flex;
}

.captcha_reload {
  flex: 0 0 auto;
}

.log_div, .cf_div, .reg_div, .lp_div, .rf_div, .acf_div, .domacc_div, .checkstatus_div, .userverify_div {
  background: transparent;
}

.checkbox {
  padding: 0;
  background: transparent;
  a {
    color: $color_default;
  }
  &.checked {
    background: transparent;
    label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 5px;
      background: url('../img/svg/checkbox.svg') no-repeat center;
      background-size: contain;
      width: 19px;
      height: 14px;
    }
  }
}

.log_div_wrap, .cf_div_wrap, .reg_div_wrap, .lp_div_wrap, .rf_div_wrap, .acf_div_wrap, .domacc_div_wrap, .checkstatus_div_wrap, .userverify_div_wrap {
  margin: 0;
}

.checkbox label {
  display: block;
  padding-left: 30px;
  &::before {
    position: absolute;
    left: 0;
  }
}

.jq-selectbox ul {
  height: 100%;
  max-height: 100% !important;
}

.userwallets_help {
  line-height: 19px;
  color: $color_default;
  opacity: .7;
  border: none;
  background: transparent;
  padding: 0;
  font: normal 14px Helvetica, sans-serif;
  p {
    margin: 0;
  }
}

.userwallets_form {
  background: rgba(#fff, .5);
  padding: 20px;
  margin: 0;
}

.get-login-form {
  width: 320px;
  height: calc(100vh - 51px);
  overflow: auto;
  overflow-x: hidden;
  display: none;
  h2 {
    margin: 8px 18px 13px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color_default;
  }
}

.header-menu.active .get-login-form {
  display: block;
}

.userwallets_table_title {
  font-size: 18px;
  line-height: 22px;
  color: #363636;
  font-weight: 500;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: rgba(#fff, .5);
  padding: 20px 20px 10px;
}

.userwallets_table_one {
  background: rgba(#fff, .5);
  border-radius: 0;
  margin: 0;
  border-top: 1px solid rgba(54, 54, 54, 0.1);
  padding: 10px 20px;
  position: relative;
  &:last-child {
    border-bottom: 1px solid rgba(54, 54, 54, 0.1);
  }
  .userwallets_one_title {
    line-height: 22px;
    color: #363636;
    margin: 0 0 5px;
    font: 500 18px Helvetica, sans-serif;
  }
  .usersbill_one_account {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
  }
  .no_items_ins {
    opacity: .5;
    font-size: 16px;
    line-height: 24px;
    color: $color_default;
  }
}

.close_userwallets {
  background: #363636;
  width: 17px;
  height: 18px;
  flex: 0 0 auto;
  transition: .3s;
  mask: url("../img/svg/delete-ico.svg") no-repeat center;
  mask-size: contain;
  &:hover {
    background: #2fab6b;
  }
}

.contact-form {
  .cf_div {
    padding: 0;
  }
  .cf_textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid $color_default;
    border-radius: 0;
    padding: 5px 0;
    &:focus {
      background: #ffffff;
    }
  }
}

.xchange_table_wrap,
.hexch_ajax_wrap {
  width: 1150px;
}

.xtl_table_wrap {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.homepage_wrap {
  padding: 0;
  .xtl_table_top {
    margin-bottom: 80px;
  }
  .js_html {
    width: 100%;
  }
  .xtl_table_body_wrap {
    display: flex;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 150%;
      background: #363636;
      height: 7px;
      left: -50%;
      bottom: -93px;
      z-index: 1;
    }
    &::after {
      content: '';
      background: url('../img/svg/arrow.svg') no-repeat center;
      width: 35px;
      height: 18px;
      background-size: cover;
      position: absolute;
      right: -11px;
      bottom: -97px;
      transform: rotate(90deg);
      z-index: 1;
      flex: 0 0 auto;
    }
  }
  .xtl_left_col, .xtl_right_col {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .select_js_title {
    background: transparent;
    border-radius: 0;
    height: auto;
    color: #393939;
    font-weight: 700;
    overflow: initial;
    .select_js_title_ins {
      font: 700 36px Helvetica, sans-serif;
      line-height: normal;
      padding: 0;
      display: flex;
      align-items: center;
    }
    .select_js_abs {
      width: 20px;
      height: 10px;
      background: $color_default;
      mask: url("../img/svg/arrow.svg") no-repeat;
      flex: 0 0 auto;
      position: initial;
      margin-left: 15px;
    }
  }
  .iselect_js {
    .select_js_title_ins {
      .select_ico {
        width: 80px;
        height: 80px;
        top: -60px;
        left: -30px;
      }
    }
  }
  .select_txt {
    position: relative;
    z-index: 1;
  }
  .xtl_line {
    padding: 0;
    font: 16px Helvetica, sans-serif;
    color: #363636;
    line-height: normal;
  }
  .xtl_commis_wrap {
    order: -1;
  }
  .xtl_center_col {
    display: none;
  }
  .xtl_submit.js_exchange_link {
    @extend .default-btn;
    margin: auto auto auto 0;
    padding: 18px 25px;
    text-decoration: none;
    border-radius: 0;
    text-transform: none;
    width: 225px;
    font: 700 30px/40px Helvetica, sans-serif;
    background: transparent;
    height: 80px;
    &:hover {
      font-size: 30px !important;
    }
  }
  .xtl_commis_text {
    height: auto;
    font: 16px/20px Helvetica, sans-serif;
    color: #393939;
  }
  .xtl_exchange_reserve {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }
  input[type=text] {
    width: calc(100% - 40px);
    font-size: 90px;
    line-height: 91px;
    font-weight: 700;
    height: auto;
  }
  .js_wrap_error.error {
    input {
      border: none;
      border-bottom: 2px solid #FF0000;
    }
    .js_error {
      font: 14px/19px Helvetica, sans-serif;
      color: #ff0000;
      top: auto;
    }
  }
  .select_js_ul {
    background: #FFF9F3;
    border: none;
    border-radius: 0;
  }
  .select_js_ulli {
    border: none;
    height: auto;
    display: flex;
    padding: 0 15px;
    align-items: center;
    &.active, &:hover {
      background: rgba(#33BB86, .1);
      color: #363636;
    }
    .select_ico {
      width: 30px;
      height: 30px;
      position: initial;
      margin-right: 5px;
    }
    .select_txt {
      font: 700 30px/60px Helvetica, sans-serif;
      color: #363636;
    }
  }
  .select_js {
    margin-right: 40px;
    &.open .select_js_title {
      //background: #fff9f3;
      background: transparent;
    }
  }
  .xtl_select_wrap {
    margin: 0;
  }
  .xtl_html_abs {
    background-color: transparent;
  }
  .jq-selectbox {
    display: none;
  }
}

.hexch_div {
  width: 100%;
  &_ins {
    padding: 0;
    border-radius: 0;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    .hexch_left,
    .hexch_right {
      width: 50%;
    }
    .hexch_pers {
      width: 100%;
    }
    .hexch_submit_div,
    .hexch_checkdata_div {
      padding: 0;
    }
    .hexch_curs_line {
      display: flex;
      align-items: center;
    }
    .hexch_curs_input, .hexch_pers_input {
      width: 100%;
    }
    .hexch_comis_line {
      padding: 0;
      font: normal 14px/19px Helvetica, sans-serif;
      color: #363636;
      opacity: .7;
    }
    .hexch_curs_label, .hexch_pers_label {
      width: auto;
      margin-right: 20px;
      height: auto;
      flex: 0 0 140px;
      &_ins {
        width: auto;
        height: auto;
        text-align: left;
        font: normal 20px/24px Helvetica, sans-serif;
        color: #363636;
      }
    }
  }
  .captcha_div {
    margin: 0;
  }
  .hexch_title, .hexch_pers_title {
    margin-left: 0;
  }
  .hexch_curs_line_ins {
    flex: 0 0 140px;
    margin-right: 20px;
  }
  .hexch_pers_line {
    display: flex;
    align-items: center;
  }
}

.standart_windowins {
  box-shadow: none;
  border-radius: 5px;
}

.standart_window_close {
  width: 33px;
  height: 33px;
  top: -55px;
  right: -14px;
  background: #fff;
  mask: url('../img/svg/close-ico.svg') no-repeat center;
}
.wrapper {
  min-height: auto;
  margin-top: 50px;
}
.hexch_widget {
  .hexch_title_ins {
    font: 700 18px/26px Helvetica, sans-serif;
  }
  .hexch_txt_line {
    padding: 0;
    height: auto;
    p {
      margin: 0;

    }
  }
  .hexch_left,
  .hexch_right {
    width: 100%;
    order: 0;
  }
  .hexch_pers, .captcha_div {
    order: 0;
  }
  .hexch_submit_div {
    order: 1;
  }
  input[type="text"] {
    font: 20px/24px Helvetica, sans-serif;
  }
  .hexch_pers_title_ins {
    font-size: 48px;
    line-height: 58px;
    color: #363636;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
  }
  .hexch_submit {
    padding: 18px 25px;
    text-decoration: none;
    border-radius: 0;
    text-transform: none;
    width: 205px;
    font: 700 28px/normal Helvetica, sans-serif;
    background: transparent;
    color: #363636;
    height: 70px;
    margin: 30px 0;
    &:hover {
      font-size: 28px !important;
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    label {
      line-height: 25px;
    }
  }
  .hexch_comis_line {
    padding-left: 160px;
    position: relative;
    top: -20px;
  }
}