.contact-form
  p Вопросы, предложения и пожелания.
  form(action='')
    .form-group
      label Email:
      input(type='email').form-control
    .form-group
      label Имя:
      input(type='text').form-control
    .form-group
      label Сообщение:
      textarea.form-control
    .form-group
      button(type='submit').send-btn Отправить